/* ------------- */

body {
    background-color: #f5f5fa;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#container-header {
    background-color: white;
}

#cart a img {
    width: 24px;
    height: 24px;
}

#main-web-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* position: relative; */
}

@media (min-width:768px) {
    #header {
        width: 100%;
        padding: 8px 0px;
        background-color: #ffffff;
    }

    #container-header {
        width: 1440px;
        height: 72px;
        margin: 0 auto;
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
    }

    #logo {
        width: 96px;
    }

    #logo img {
        width: 96px;
        height: 40px;
    }

    #title {
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        color: rgb(11, 116, 229);
        margin-top: 8px;
    }

    #header-right {
        width: 1248px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #form-search {
        width: 70%;
        border-radius: 8px;
        border: 1px solid rgb(221, 221, 227);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #form-search img {
        width: 20px;
        height: 20px;
        margin-left: 18px;
    }

    #form-search input {
        overflow: visible;
        /* width: 86%; */
        flex: 1;
        border: none;
        font-size: 14px;
        outline: none;
        padding: 0 8px;
        /* giống cái bên dưới */
        border-right: 0.1px solid #dfdfdf;
    }

    /* #form-search input:focus {
        outline: none;
    } */

    #form-search button {
        width: 84px;
        height: 38px;
        padding: 4px;
        border: none;
        background-color: white;
        color: rgb(11, 116, 229);
        border-radius: 0 8px 8px 0;
    }

    #form-search button:hover {
        background-color: rgba(10, 104, 255, 0.2);
    }



    #index-user-cart {
        width: 28%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #index {
        width: 42%;
    }

    #user {
        width: 42%;
    }

    #cart {
        width: 11%;
    }

    #index a,
    #user a {
        text-decoration: none;
        font-weight: 500;
        border-radius: 8px;
        display: block;
        height: 40px;
        text-align: center;
        padding: 8px 16px;
        align-items: center;
    }

    #index a img {
        width: 24px;
        height: 24px;
        margin-right: 3px;
    }

    #index a:hover {
        background-color: rgba(0, 96, 255, 0.12);
    }

    #user a {
        color: rgb(128, 128, 137);
        font-weight: 400;
    }

    #user a img {
        width: 24px;
        height: 24px;
        margin-right: 3px;
    }

    #user a:hover {
        background-color: rgba(39, 39, 42, 0.12);
    }


    #cart a {
        display: block;
        height: 40px;
        padding: 8px;
        align-items: right;
        position: relative;
        border-radius: 8px;
    }

    #cart a span {
        color: rgb(255, 255, 255);
        background: rgb(255, 66, 79);
        height: 16px;
        right: 0px;
        top: -4px;
        border-radius: 8px;
        display: inline-block;
        text-align: center;
        font-weight: 700;
        font-size: 10px;
        line-height: 150%;
        position: absolute;
        padding: 0.5px 4px;
    }

    #cart a:hover {
        background-color: rgba(0, 96, 255, 0.12);
    }

    #nav {
        display: flex;
        justify-content: space-between;
    }

    #nav-menu a {
        padding-right: 8px;
        color: rgb(128, 128, 137);
        text-decoration: none;
        font-weight: 400;
    }

    #delivery-zone span:first-child {
        color: rgb(128, 128, 137);
    }

    #delivery-zone span:first-child img {
        width: 24px;
        height: 24px;
        margin-right: 3px;
    }

    #address {
        font-weight: 500;
        text-decoration: underline;
    }


    /* ------main */

    #container-main {
        margin: 0 auto;
        width: 1440px;
        padding: 0 24px;
    }

    #content {
        padding-top: 16px;
    }

    #sidebar {
        max-height: 100vh;
        overflow-y: scroll;
        position: -webkit-sticky;
        position: sticky;
        top: 16px;
    }

    .category {
        /* position: relative; */
        padding: 12px 8px;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .category div {
        margin-bottom: 8px;
        padding-left: 16px;
        font-weight: 600;
        font-size: 14px;
    }

    .category a {
        display: flex;
        padding: 7px 16px;
        color: rgb(39, 39, 42);
        text-decoration: none;
        align-items: center;
        font-weight: 400;
        text-transform: capitalize;
        transition: all 0.3s ease 0s;
    }

    .category a:hover {
        background-color: rgba(39, 39, 42, 0.12);
        border-radius: 8px;
    }

    .category a img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }

    #sidebar::-webkit-scrollbar {
        display: none;
    }



    /* -------carousel */



    #slider {
        background-color: white;
        padding: 16px;
        border-radius: 8px;
    }

    .banner img:first-child {
        float: left;
    }

    .banner img:last-child {
        float: right;
    }

    .banner img {
        border-radius: 8px;
        width: 49%;
    }

    /* ------------danhmuc */
    #danh-muc {
        flex-direction: row;
        padding: 16px;
        background-color: white;
        border-radius: 8px;
        justify-content: space-between;
    }

    .danhmuc-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-basis: 13%;
        cursor: pointer;
    }


    .danhmuc-item a img {
        width: 64px;
        height: 64px;
        margin: 0 auto;
    }

    .danhmuc-item span {
        width: 110px;
        text-align: center;
        margin-top: 8px;
        font-weight: 500;
    }

    /* ---khuyen mai */

    #km-thuonghieu {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 16px;
        gap: 12px;
        background-color: white;
        border-radius: 12px;
    }

    .km-item {
        flex-basis: 15.5%;
    }

    .km-item a img {
        width: 100%;
        border-radius: 12px;
    }

    /* -------product */


    #register-content{
        border-radius: 20px;
    }
    #form-register{
        display: flex;
        width: 800px;
        align-items: center;
        border-radius: 20px;
        background: linear-gradient(136deg, rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);
    }


    #form-register-left{
        width: 500px;
        display: flex;
        flex-direction: column;
        padding: 40px 45px 24px;
        background-color: white;
        border-radius: 20px 0 0 20px;
    }
    
    #form-register-left form input{
        font-size: 24px;
        padding: 10px 0;
        border: none;
        outline: none;
        width: 100%;
        border-bottom: 0.1px solid rgb(227, 227, 227);
    }

    #form-register-left form button{
        width: 100%;
        margin: 30px 0 10px;
        padding: 13px;
        background-color: #ff424e;
        font-size: 20px;
        color: white;
        border-radius: 4px;
        border: none;
    }

    #form-register-left > p {
        margin: 10px 0px 0px;
        text-align: center;
        color: rgb(13, 92, 182);
        cursor: pointer;
    }

    #form-register-footer {
        margin-top: 80px;
    }


    #form-register-right{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #form-register-right img{
        width: 203px;
    }

    #form-register-footer p:first-child{
        position: relative;
        text-align: center;
    }

    #form-register-footer p:first-child span{
        font-size: 15px;
        padding: 0 20px;
        position: relative;
        z-index: 100;
        background-color: white;
        color: rgb(120, 120, 120);
    }

    #form-register-footer p:first-child::before{
        content: "";
        width: 100%;
        height: 1px;
        background: rgb(242, 242, 242);
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    #form-register-footer div{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }

    #form-register-footer div img{
        width: 58px;     
    }

    #form-register-footer p:last-child{
        font-size: 12px;
        color: #787878;
    }

    #form-register-footer p:last-child a{
        color: #787878;
    }

    #content-register{
        margin-top: 30px;
    }

    #content-register h5{
        font-size: 17px;
        color: rgb(11, 116, 229);
    }

    #content-register span{
        font-size: 13px;
        color: rgb(11, 116, 229);
    }

    .modal-dialog > button:first-child{
        background-color: white;
        opacity: 1;
        padding: 14px;
        border-radius: 100%;
        position: absolute;
        top: -20px;
        right: -20px;
        z-index: 100;
    }
}



/* -----goiy */
#goiy {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 16px;
    z-index: 100;
}


#goiy p {
    margin: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}

#goiy-container {
    display: flex;
}


#goiy-container .active {
    border-bottom-color: rgb(10, 104, 255);
    background: rgba(0, 96, 255, 0.05);
}


.goiy-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 8px 4px;
    border-bottom: 1px solid rgb(235, 235, 240);
}

#goiy-container .active:hover {
    background: rgba(0, 96, 255, 0.12);
}

.goiy-item:hover {
    background: rgba(128, 128, 137, 0.12);
}

.goiy-item img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.goiy-item div {
    padding-top: 4px;
    font-size: 12px;
    text-align: center;
}



/* ----------footer */
#footer-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 104, 255);
    width: 64px;
    border-radius: 16px;
    position: fixed;
    bottom: 20px;
    right: 40px;
}

#assistance,
#news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px 6px;
    height: 86px;
    width: 100%;
}

#assistance img {
    width: 32px;
    height: 32px;
}

#assistance span,
#news span {
    color: white;
    margin-top: 4px;
    font-size: 12px;
}

#news {
    border-top: 0.3px solid white;
}

#news img {
    width: 32px;
    height: 32px;
}

/* ------card product */

.card-product .card-body>img:nth-child(1) {
    width: 45%;
}

.card-product .card-body>img:nth-child(2) {
    width: 55%;
    margin-top: 4px;
}

.card-product .card-body h3 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 4px;
}

.rating {
    margin-top: 4px;
}

.rating i {
    color: rgb(245, 216, 67);
    font-size: 10px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0;
}

.card-foot {
    border-top: 1px solid rgb(235, 235, 240);
    padding: 6px 0 0 0;
}

.card-foot img {
    width: 32px;
    height: 16px;
}

.card-foot span {
    font-size: 10px;
    font-weight: 400;
    color: var(--Alias-Secondary---On-Theme, #808089);
}

#footer-intro {
    background-color: white;
    padding: 16px;
}

#footer-intro a {
    text-decoration: none;
}

#footer-intro p:first-child {
    font-weight: 500;
    color: rgb(56, 56, 61);
    font-size: 16px;
    margin-bottom: 12px;

}

.small-text {
    font-size: 12px;
    color: rgb(128, 128, 137);
    margin-bottom: 8px;
}

.footer-advertise {
    margin-top: 4px;
    background-color: white;
    padding: 16px;
}

.footer-advertise h1 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
    color: rgb(56, 56, 61);
}

.footer-advertise h2 {
    font-weight: 500;
    font-size: 14px;
    color: rgb(128, 128, 137);
    margin-bottom: 4px;
}

.footer-advertise p {
    font-size: 12px;
    color: rgb(128, 128, 137);
    margin-bottom: 12px;
}